body, html {
  margin: 0;
  padding: 0;
  background-color: #88898c;
}

p {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
}

.contentTop > p {
  margin-left: 24vw;
  margin-top: 13vw;
  width: 18vw;
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 2.2vw;
  color: white;
}

.contentTop > .yellowBox > p {
  position: absolute;
  background-color: #f4d80c;
  color: black;
  margin: 0;
}

.contentTop > .yellowBox > p:nth-child(1) {
  margin: 0;
  z-index: 2;
  margin-top: 10.95vw;
  padding-right: 6vw;
  padding-left: 24vw;
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 2.2vw;
  width: 18vw;
}

.title > p {
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 1.5vw;
  font-size: 17vw;
}

.title > .blackBox > p {
  position: absolute;
  font-size: 17vw;
  background-color: #231f20;
  color: white;
  margin: 0;
}

.title > .blackBox > p:nth-child(1) {
  z-index: 1;
  margin-left: 2vw;
  margin-top: -37vw;
  padding-top: 37vw;
  height: 17vw;
}

.title > .blackBox > p:nth-child(2) {
  z-index: 1;
  margin-left: 54.45vw;
  margin-top: -23vw;
  padding-top: 23vw;
  padding-left: 0.5vw;
  padding-bottom: 7vw;
}

.title > .blackBox > p:nth-child(3) {
  z-index: 1;
  margin-left: 81.44vw;
  margin-top: 22.4vw;
  padding-bottom: 45vw;
}

.title > .blackBox > p:nth-child(4) {
  z-index: 1;
  margin-left: 25.68vw;
  margin-top: 40.8vw;
  padding-top: 4vw;
  padding-bottom: 43vw;
}

.contentBottom {
  margin-left: 44vw;
  margin-top: -17.25vw;
  margin-bottom: 13vw;
  width: 21.5vw;
}

.contentBottom > p {
  font-size: 1.5vw;
  font-weight: 900;
  color: white;
}

.contentBottom > .yellowBox > p {
  position: absolute;
  background-color: #f4d80c;
  color: black;
  margin: 0;
}

.contentBottom > .yellowBox > p:nth-child(1) {
  margin: 0;
  padding: 0;
  z-index: 0;
  margin-top: 30.7vw;
  margin-left: 6.242vw;
  white-space: nowrap;
  padding-right: 38vw;
  padding-left: 0.3vw;
  font-size: 1.5vw;
  font-weight: 900;
  line-height: 1.9vw;
}
