body, html {
  margin: 0;
  padding: 0;
  background-color: #88898c;
}

p {
  font-family: 'Roboto', sans-serif;
}

.contentTop > p {
  margin-left: 24vw;
  margin-top: 13vw;
  width: 18vw;
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 2.2vw;
  color: white;
}

.contentTop > p > span {
  color: black;
}

.contentTop > .yellowBox {
  z-index: 1;
  position: absolute;
  background-color: #f4d80c;
  margin-top: 11vw;
  padding-right: 6vw;
}

.contentTop > .yellowBox > p {
  margin: 0;
  margin-left: 24vw;
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 2.2vw;
  width: 18vw;
  color: black;
}

.title > p {
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
  font-size: 17vw;
}

.title > p > span {
  color: white;
}

.contentBottom {
  margin-left: 44vw;
  margin-top: -17.25vw;
  margin-bottom: 13vw;
  width: 21.5vw;
}

.contentBottom > p {
  font-size: 1.5vw;
  font-weight: 900;
  line-height: 1.9vw;
  color: white;
}

.contentBottom > p > span {
  color: black;
}
